:root {
  --title-color: red;
}
.red{
  color: #FD5056;
}
.icon-right-gray-arrow{
  display: inline-block;
  width: 0.08rem;
  height: 0.15rem;
  background: url("../img/gray-more.png") no-repeat;
  background-size: 0.08rem 0.15rem;

}
